body {
  font-family: Quicksand;
  margin: auto;
}

.orange-color {
  color: #fea301;
}

.black-color {
  color: #111111;

}

.sky-blue-color {
  color: #01ACFD;
}

.mint-color {
  color: #05D4DF;

}

.purple-color {
  color: #5D58EF;

}

.navbar {
 max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;



}

.logo {
  display: flex;
}

.head {
  font-size: 2rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  align-items: center;

}

nav li {
  list-style: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 60px;
}

nav li a {
  text-decoration: none;

}

.contact-btn {
  color: white;
  border-radius: 12px;
  border-color: red;
  width: 197px;
  height: 50px;
  background: rgb(254, 163, 1);
  font-size: 1rem;
  font-weight: 600;
}

.all:hover {
  background-color: rgb(16, 70, 16);
}

/* Toggle bar css */
#nav-bar {
  display: none;
}

.nav-bar-icon {
  display: none;
  color: #3a3a3a;
  font-size: 30px;
}

/*banner section*/
.banner-tittle {
  font-weight: 700;
  font-size: 2.875rem;
}

.banner {
  display: flex;
  padding:2rem;
  align-items: center;
  margin: auto;
}

.banner-description {
  font-size: 1.25rem;
  font-weight: 400;
  color: #111111;
}

.enroll-btn {
  color: white;
  border-radius: 12px;
  border-color: red;
  width: 197px;
  height: 50px;
  background: #111111;
  font-size: 1rem;
  font-weight: 600;
}

/*our stories*/
.story-img {
  border-radius: 16px 16px 0px 0px;
}

main {max-width: 1400px;
margin: auto;
  background: url(assets/bg.png), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
 
}
.other{display: flex;
  flex-direction: column;
gap: 2rem;}

.stories {
  display: flex;
  gap: 2rem;
}

.section-tittle {
  text-align: center;
  font-weight: 700;
  font-size: 2.875rem;
  color: #000;
}

.story-tittle {
  font-weight: 700;
  font-size: 1.5rem;
}

.story-1 {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.story-2 {
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}



.story-btn {position: relative;
  top: -1rem;
  left: 1.875rem;
  border-radius: 2.996rem;
  width: 10.907rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  border-color: aqua;
  background: rgb(60, 216, 232);
}

.story-btn-2 {position: relative;
  top: -1rem;
  left: 1.875rem;
  border-color: #95B226;
  background-color: #95B226;
  color: white;
  border-radius: 2.996rem;
  width: 10.907rem;
  font-size: 1rem;
  font-weight: 500;
}
.story-btn-3 {position: relative;
  top: -1rem;
  left: 1.875rem;
  border-color: blue;
  background-color:#5D58F0;
  color: white;
  border-radius: 2.996rem;
  width: 10.907rem;
  font-size: 1rem;
  font-weight: 500;
}
.story-btn-4{position: relative;
  top: -1rem;
  left: 1.875rem;
  border-color: #95B226;
  background-color: #95B226;
  color: white;
  border-radius: 2.996rem;
  width: 8rem;
  font-size: 1rem;
  font-weight: 500;}

.story-text-1 {
  padding: 2rem;
}

.story-text-2 {
  font-size: 0.959rem;
  font-weight: 700;
  padding-left: 2rem;
}

/* hidden stories */
.hidden {
  display: none;
}

.visible {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

/* footer */
.last-part {max-width: 1400px;
  background-color: #01ACFD;
  margin: 0;
  padding: 3rem;
  display: flex;
  flex-direction: row;
}

.footer-logo {
  font-weight: 700;
  font-size: 2.634rem;
  color: white;
}

.footer-text {
  font-weight: 400;
  font-size: 1.25rem;
  color: white;
}

.footerhead-1 {
  display: flex;
}

.footer-1 {
  float: left;

  width: 50%;
}

.footer-col {
  float: left;

  width: 25%;
}

.footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: white;
}

.footer-col .links li a:hover {
  color: #fff;
}

.keep-in-touch {
  color: white;
  font-weight: 700;
  font-size: 1.265rem;
  float: left;

  width: 25%;
}

.tags {
  display: flex;
}

/* Responsive section */
@media screen and (max-width: 576px) {
  .navbar {
    justify-content: space-between;
    padding: 10px;
  }

  .nav-bar-icon {
    display: block;
    margin-left: 10px;
  }

  .menu {
    width: 100%;
    position: absolute;
    top: 25px;
    left: 140px;

    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 20px;

    padding: 20px 0;
    transform: translateY(-360px);
    transition: 0.5s ease-in-out;
  }

  .menu li a {
    color: #121212;
  }

  #nav-bar:checked~.menu {
    transform: translateY(0px);
  }

  .head {
    font-size: 24px;
    display: flex;
  }

  .banner-text {
    text-align: center;
  }

  .contact-btn {
    display: none;
  }
  

  .banner {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
    margin: 10px;
  }
  .banner-img{width: 21.036rem
    ;}
.story-1{display: none;
}
.story-btn-2{width: 7rem;
font-size: x-small;
position: relative;
  top: -0.5rem;
  left: 1.875rem;}
.story-btn-3{width: 7rem;
  position: relative;
  top: -0.5rem;
  left: 1.875rem;
font-size: x-small;}
.story-btn-4{width: 6rem;
font-size: x-small;
position: relative;
  top: -0.5rem;
  left: 1.875rem;}
.visible{display: flex;
  gap: 2rem;
  justify-content: space-between;}
  .hidden {
    gap: 2rem;
    justify-content: space-between;
    display: flex;
  }
  .other{display: flex;
    flex-direction: column;
  gap: 2rem;}

  .story-2{width: 11rem;}

  .last-part {width: 100%;
    display: flex;
    flex-direction: column;
  
  }

  .keep-in-touch {
    color: white;
    font-weight: 700;
    font-size: 1.265rem;
    float: none;

    width: fit-content;
  }

  .footer-1 {
    float: none;

    width: fit-content;
  }

  .footer-col {
    float: none;

    width: fit-content;
  }
}